<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Página Inicial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">

    </head>
    <body>
        <header>
            <h1>Painel de Controle - Loja</h1>
        </header>
        <nav>
            <a href="/clientes/cadastro">Cadastro de Clientes</a>
            <a href="/produtos/cadastro">Gerenciar Produtos</a>
            <a href="/vendas">Registrar Vendas</a>
        </nav>

        <main>
            <section>
                <h2>Bem-vindo ao sistema de gerenciamento da loja!</h2>
                <p>Utilize as opções acima para gerenciar clientes, produtos e vendas de forma rápida e eficiente.</p>
            </section>
        </main>

        <footer>
            <p>Sistema de Loja - Gerenciamento</p>
        </footer>

    </body>
</html>